@charset "ISO-8859-1";
.lnk-btn {
     background:none;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}

td {
  width: 100px;
}